@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    
}

h2 {
    color: #1c1c1c;
    text-align: center; 
    padding: 1rem;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #1c1c1c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #1c1c1c;
    border-radius: 8px;
}
label {
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 7px; 
    cursor: pointer;
}

.radio-admin{
    padding-left: 1rem;
}
.radio-user{
    padding-left: 1rem;
}



button {
    background-color: #023047 !important;
    color: white !important;
    border: none !important;
    padding: 5px 10px !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #219EBC !important;
}









.integrantes {
    margin-top: 20px;  /* Espaciado superior */
    padding: 10px;     /* Espaciado interno */
    color: #023047;
    text-align: center;
}

