#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    margin: 10px; 
}

.product {
    background-color: #fff; 
    border: none; 
    border-radius: 15px;
    padding: 15px;
    margin: 10px; 
    width: calc(20% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.filtro {
    margin-bottom: 20px;
    height: 35px;
    align-items: center;
    border-radius: 8px;
    width: 400px;
    padding: 1rem;

}

.but{
    padding: 1rem;
}

.monto-total {
    color: #219EBC; 
    font-weight: bold; 
    text-align: right;
}
