.navbar{
    background-color: #023047;
    padding-left: 1rem;
    
}

.nav-link:hover {
    color: #FB8500; /* Color del texto al pasar el ratón */
}

.nav-link {
    color: #ffffff; 
    transition: color 0.3s ease;
}

.nav-link.active {
    color: #219EBC; /* Cambia este color al que desees */
    font-weight: bold; /* Puedes hacer que el texto sea negrita si lo deseas */
}